body{
padding-top:90px;
}

.span3-5{
width:250px;
}

.well-popup{
margin-top:10px;
margin-bottom:0px;
padding-bottom:10px;
}

.modal-footer{
text-align:left;
}

.alert{
float:right;
min-width:205px;
display:inline-block;
padding:4px 8px 4px 8px; 
margin-bottom:0px;
}
.form-alert{
float:right;
margin-right:20px;
}
.progress{
width:222px;
display:inline-block;
margin-bottom:0px;
margin-left:4px;
}

#password-validate{
display:inline-block;
}

.login-warnings{
min-width:242px;
float:left;
margin-bottom:10px;
}

/** Especially intended for the new post form **/
.sharewith{
margin-left:10px;
}
.icon-edit{
vertical-align:baseline;
margin-left:5px;
cursor:pointer;
}
.share-with-container{
display:block;
}
