/** Default page layout **/
body{
padding-top:90px;
}

.span3-5{
width:250px;
}

.well-popup{
margin-top:10px;
margin-bottom:0px;
padding-bottom:10px;
}

.modal-footer{
text-align:left;
}

.alert{
float:right;
min-width:202px;
display:inline-block;
padding:4px 8px 4px 8px; 
margin-bottom:0px;
}
.form-alert{
float:right;
margin-right:20px;
}
.progress{
width:222px;
display:inline-block;
margin-bottom:0px;
margin-left:4px;
}

#password-validate{
display:inline-block;
}

.login-warnings{
min-width:242px;
float:left;
margin-bottom:10px;
}

/** End default page layout main page **/

/** Especially intended for the new post form **/
.sharewith{
margin-left:10px;
}
.icon-edit{
vertical-align:baseline;
margin-left:5px;
cursor:pointer;
}
.share-with-container{
display:block;
}

.share-alert{
float:none;
margin-bottom:10px;
}

#wmd-input{
min-width:610px;
}

.blue-shadow {
border-color: rgba(82, 168, 236, 0.8) !important;
border-bottom:0px solid !important;
-webkit-box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
outline: 0;
outline: thin dotted \9;
-webkit-border-radius: 3px 3px 0 0 !important;
-moz-border-radius: 3px 3px 0 0 !important;
border-radius: 3px 3px 0 0 !important;
}
.token-input-list-facebook{

display: inline-block;
width: 218px;
height: 18px;
padding: 0px;
margin: 0px 0px 9px 0px;
font-size: 13px;
line-height: 18px;
color: #555555;
border: 1px solid #cccccc;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
/** next part = ?? **/
